<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="d-flex flex-row justify-content-center m-3">
        <h1>Welcome dear developers!</h1>
    </div>

    <div class="d-flex flex-row justify-content-center p-4">
        <div class="d-flex flex-row justify-content-around m-3">
            <p><a href="/gimme_your_plate" type=button class="btn btn-primary m-3">Gimme your plate</a></p>
            <p><a href="/gimme_your_letter" type=button class="btn btn-primary m-3">Gimme your letter</a></p>
        </div>
    </div>
</body>
</html>