<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="d-flex flex-row justify-content-center m-3">
        <h1>Gimme your plate</h1>
    </div>

    <div class="d-flex flex-row justify-content-center p-3">
        <form method=post enctype=multipart/form-data class="d-flex flex-column justify-content-around m-3" style="height: 200px;">
            <div class="custom-file">
                <input class="custom-file-input" type=file name=file id="uploadFile">
                <label class="custom-file-label" for="uploadFile">Choose file...</label>
            </div>
            
            <button type=submit class="btn btn-primary">Upload</button>
        </form>
    </div>

    <div class="d-flex flex-row justify-content-center p-3">
        <div class="d-flex flex-column justify-content-around" style="height: 200px;">
            <div class="d-flex flex-row justify-content-center mb-3">
                <h2>License plate extraction</h2>
            </div>
            {% if original_img %}
            <img src={{original_img}} alt="{{original_img}}">
            {% else %}
            <p>No uploaded image to process.</p>
            {% endif %}

            {% if plate_img %}
            <img src={{plate_img}} alt="{{plate_img}}">
            {% else %}
            <p>No extracted plate_img</p>
            {% endif %}
            {% if response %}
            <p>Predicted: {{response}} </p>
            {% else %}
            <p>No prediction...</p>
            {% endif %}
        </div>
    </div>
    

</body>
</html>